.full_size {
  width: 100%;
  height: 100%;
}

.el-header {
  padding: 0 !important;
}

.el-main {
  padding: 0 !important;
}

.columnflex {
  display: flex;
  flex-direction: column;
}
.columnCenterflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.rowFlex {
  display: flex;
  flex-direction: row;
}
.leftRightFlex{
  display: flex;
}
.centerflex{
  display: flex;
  justify-content: center;
  align-items: center;
}
